html, body, .canvas {
	height: 100%
}

.canvasContainer {
	width:40%; 
	display:inline-block;

}

#canvas_old {
	padding-right: 20px;
}

#canvas_new {
	margin-left: 20px;
}

.elementRemoved .djs-visual > *:nth-child(1) {
	stroke: red !important;
}

.elementAdded .djs-visual > *:nth-child(1) {
	stroke: green !important;
}

.elementMoved .djs-visual > *:nth-child(1) {
	stroke: blue !important;
}

.elementEdited .djs-visual > *:nth-child(1) {
	stroke: orange !important;
}

.changeDetails {
	border: 3px solid pink;
	font-size: 80%;
	width:150px;
	background-color: #fff;
}
