html, body, .canvas {
	height: 100%
}

.canvasContainer {
	vertical-align: top;
	width:40%;
	display:inline-block;

}

.djs-container {
	overflow: hidden;
}

#canvas_old {
	padding-right: 20px;
}

#canvas_new {
	margin-left: 20px;
}

.changeDetails table {
	border: 2px solid orange;
	width: 300px;
	background-color: #fff;
}

.changeDetails th {
	text-align: left;
}


.marker {
	border-radius: 50%;
	background-color: grey;
	color:white;
	font-weight: bold;
	font-size: 150%;
	padding-right:6px;
	padding-left:6px;
}

.marker-added {
	background-color: green;
}

.marker-removed {
	background-color: red;
}

.marker-changed {
	background-color: orange;
	font-size: 130%;
	padding-top:2px;
	padding-bottom: 2px;
	padding-left:5px;
	padding-right: 5px;
}

.marker-layoutChanged {
	background-color: blue;
	font-size: 120%;
	padding-top:2px;
	padding-bottom: 2px;
	padding-left:4px;
	padding-right: 4px;
}

#changesOverviewContainer {
	position: absolute;
	left: 25%;
	top: 80%;
	width: 50%;
	height: 40%;
	background: rgba(54, 50, 50, .8);
	text-align: center;
	overflow: scroll;
	color: #fff;
}

#changesOverviewTable {
	margin: 30px;
	width:80%;
	text-align: left;
}

#changesOverviewTable tr:hover {
	background-color: #000;
	cursor: pointer;
}

#changesOverviewTable td.removed {
	background-color: red;
	font-weight: bold;
	width:40px;
}

#changesOverviewTable td.added {
	background-color: green;
	font-weight: bold;
}

#changesOverviewTable td.changed {
	background-color: orange;
	font-weight: bold;
}

#changesOverviewTable td.layoutChanged {
	background-color: blue;
	font-weight: bold;
}

.elementSelected .djs-visual > *:nth-child(1) {
  stroke-width: 5 !important;
}
