html, body, .canvas {
	height: 100%
}

.canvasContainer {
	vertical-align: top;
	width:40%;
	display:inline-block;

}

#canvas_old {
	padding-right: 20px;
}

#canvas_new {
	margin-left: 20px;
}

.changeDetails {
	border: 3px solid pink;
	
	width: 300px;
	background-color: #fff;
}

.marker {
	border-radius: 50%;
	background-color: grey;
	color:white;
	font-weight: bold;
	font-size: 200%;
	padding-right:10px;
	padding-left:10px;
}

.marker-added {
	background-color: green;
}

.marker-removed {
	background-color: red;
}

.marker-changed {
	background-color: orange;
}
