.content {
  height: 100%;
  width: 100%;

  position: relative;
  display: table;
}

.di-container {
  height: 100%;
  width: 50%;
  position: relative;

  display: table-cell;
  border-collapse: collapse;
}

.di-container.left {
  border-right: dotted 2px #CCC;
}

.di-header,
.di-action {
  position: absolute;
  top: 0;
  z-index: 10;
  margin: 20px;
  padding: 10px;

  background: #EEE;
  border-radius: 5px;
}

.di-header {
  opacity: 0.9;
}

.di-header:hover {
  opacity: 1;
}

.di-header h2 {
  margin-top: 0;
}

.right .di-header {
  right: 0;
  text-align: right;
}

.canvas {
  display: block;
  height: 100%;
}

.djs-container {
  overflow: hidden;
}

.changeDetails table {
  border: 2px solid orange;
  width: 300px;
  background-color: #fff;
}

.changeDetails th {
  text-align: left;
}

.marker {
  border-radius: 50%;
  background-color: gray;
  color:white;
  font-weight: bold;
  font-size: 150%;
  padding-right:6px;
  padding-left:6px;
}

.marker-changed {
  font-size: 130%;
  padding-top:2px;
  padding-bottom: 2px;
  padding-left:5px;
  padding-right: 5px;
}

.marker-layout-changed {
  font-size: 120%;
  padding-top:2px;
  padding-bottom: 2px;
  padding-left:4px;
  padding-right: 4px;
}


#changesOverviewContainer {
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 50%;
  height: 40%;
  background: rgba(54, 50, 50, .8);
  text-align: center;
  overflow: auto;
  color: #fff;

  z-index: 110;
}

#changesOverviewTable {
  margin: 30px;
  width:80%;
  text-align: left;
}

.changesOverviewTr:hover {
  background-color: #000;
  cursor: pointer;
}

#changesOverviewTable td.removed {
  background-color: red;
  font-weight: bold;
  width:40px;
}

#changesOverviewTable td.added {
  background-color: green;
  font-weight: bold;
}

#changesOverviewTable td.changed {
  background-color: orange;
  font-weight: bold;
}

#changesOverviewTable td.layoutChanged {
  background-color: blue;
  font-weight: bold;
}

.elementSelected .djs-visual > *:nth-child(1) {
  stroke-width: 5 !important;
}

.changePointer  {
  font-size: 500%;
  color: #000;
  padding-top:2px;
  padding-bottom: 2px;
  padding-left:5px;
  padding-right: 5px;

}

.changePointer-changed {

}
